@import url('https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.4.0/font/bootstrap-icons.min.css');
@import '@webpixels/css';
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #f6f9ff !important;
}

#main__bg-color {
  background-color: rgba(22, 34, 57, 0.95);
  color: #fff;
}

.main__bg-color {
  background-color: rgba(22, 34, 57, 0.95);
  color: #fff;
}
.main__bg-color label {
  color: #fff;
}
/* Basic */

.main__home {
  min-height: 85vh;
}

a {
  color: inherit;
  text-decoration: none;
}

.hover-scale,
.hover-scale:hover {
  transition: transform 0.2s ease-in;
}

i {
  padding: 10px;
  font-size: 20px;
  min-width: 50px;
  text-align: center;
}
