/* Why Choosing Us */

section.why-us {
    background-image: url(/public/assets/images/choosing-bg.jpg);
    background-color: #172238;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 100px;
  }
  
  #tabs {
    text-align: center;
  }
  #tabs ul {
    margin: 0;
    padding: 0;
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-gap: 0;
    -moz-column-gap: 0;
    column-gap: 0;
  }
  #tabs ul::after {
    clear: both;
    content: '';
    display: table;
  }
  #tabs ul li {
    display: block;
    font-weight: 400;
    font-size: 1.2em;
    letter-spacing: 1px;
    text-align: center;
  }
  #tabs ul li a {
    display: block;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 1px;
    cursor: pointer;
    outline: 0;
    padding-bottom: 30px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
  }
  #tabs ul li a:after {
    transition: all 0.3s;
    width: 10px;
    height: 10px;
    background-color: #fff;
    content: '';
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: 0;
  }
  #tabs ul li a:before {
    transition: all 0.3s;
    width: 25px;
    height: 25px;
    border: 2px solid transparent;
    background-color: transparent;
    content: '';
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: -5px;
  }
  #tabs ul li span {
    display: block;
    margin-bottom: 0.75em;
  }
  #tabs ul .ui-tabs-active {
  }
  #tabs ul .ui-tabs-active a {
    color: #f5a425;
  }
  #tabs ul .ui-tabs-active a:after {
    background-color: #f5a425;
    width: 15px;
    height: 15px;
  }
  #tabs ul .ui-tabs-active a:before {
    border-color: #f5a425;
  }
  #tabs h4 {
    margin-top: 60px;
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 1px;
    color: #fff;
    margin-bottom: 30px;
  }
  
  #tabs p {
    color: #fff;
    font-size: 15px;
    line-height: 28px;
  }
  
  .tabs-content {
    margin-top: 60px;
    text-align: left;
  }
  
  @media screen and (max-width: 767px) {
    .tabs-content {
      text-align: center;
    }
  }
  
  .tabs-content img {
    width: 100%;
    overflow: hidden;
    padding-right: 45px;
  }
  
  @media screen and (max-width: 767px) {
    .tabs-content img {
      padding-right: 0px;
    }
  }
  